html div.youtube-1 {
  visibility: hidden;
}

html.youtube-1 div.youtube-1 {
  visibility: visible;
}

html div.youtube-2 {
  visibility: hidden;
}

html.youtube-2 div.youtube-2 {
  visibility: visible;
}

html div.youtube-3 {
  visibility: hidden;
}

html.youtube-3 div.youtube-3 {
  visibility: visible;
}

table.results {
  border-collapse:collapse;
}

table.results th, table.results td {
  border: 1px solid black;
  padding: 5px 15px 5px 15px;
  text-align: center;
}

img.fov {
  display: inline-block;
  vertical-align: middle;
}

table.fov {
  display: inline-block;
  vertical-align: middle;
  font-size: 80%;
}
