[submodule "roscopter-controller"]
	path = roscopter-controller
	url = https://github.com/ssk2/roscopter-controller.git
[submodule "roscopter-lander"]
	path = roscopter-lander
	url = https://github.com/ssk2/roscopter-lander.git
[submodule "roscopter"]
	path = roscopter
	url = https://github.com/cberzan/roscopter.git
[submodule "roscopter_controller"]
	path = roscopter_controller
	url = https://github.com/ssk2/roscopter_controller.git
[submodule "roscopter_lander"]
	path = roscopter_lander
	url = https://github.com/ssk2/roscopter_lander.git
