<launch>
    <node pkg="roscopter" name="roscopter" type="roscopter_node.py" args="--device=/dev/ttyACM0 --baudrate=115200 --enable-control=true" />
    <node pkg="pose_estimator" name="pose_estimator" type="PoseEstimator" />
    <node pkg="lander" name="lander" type="Lander" />
    <node pkg="debugger" name="debugger" type="Debugger" />
</launch>
