html div.youtube-1 {
  visibility: hidden;
}

html.youtube-1 div.youtube-1 {
  visibility: visible;
}

html div.youtube-2 {
  visibility: hidden;
}

html.youtube-2 div.youtube-2 {
  visibility: visible;
}

html div.youtube-3 {
  visibility: hidden;
}

html.youtube-3 div.youtube-3 {
  visibility: visible;
}
